In [1]:
a = 100
if a > 50:
    print(a)
else:
    print(a-50)

100

In [2]:
print('I\'am ok.')

I'am ok.

In [3]:
print('I\'am learn\nPython')

I'am learn
Python

In [4]:
print("I'am ok")

I'am ok

In [5]:
print('\\\n\\')

\
\

In [7]:
print(r'I\'am ok')

I\'am ok

In [8]:
print('''
line1
line2''')

line1
line2

In [9]:
ord('A')

65

In [12]:
ord('陶')

38518

In [13]:
ord('雪')

38634

In [19]:
ord('峰')

23792

In [15]:
'\u4e2d\u6587'

'中文'

In [16]:
'\38518\38634\23792'

'\x038518\x038634\x9f92'

In [20]:
name = 'zhangsan'
data = '2020-07-02'
where = 'classroom'
print('Hello, %s, time is %s, this place is %s' % (name,data,where))

Hello, zhangsan, time is 2020-07-02, this place is classroom

In [21]:
name = 'lisi'
data = '2020-07-02'
where = 'classroom'
print('Hello, {0}, time is {1}, this place is {2}'.format(name,data,where))

Hello, lisi, time is 2020-07-02, this place is classroom

In [1]:
company = ['alibaba','tencent']
company

['alibaba', 'tencent']

In [2]:
company[0]

'alibaba'

In [3]:
company[-1]

'tencent'

In [4]:
company.append('pinduoduo')

In [5]:
company

['alibaba', 'tencent', 'pinduoduo']

In [6]:
company.insert(1,'rys')

In [7]:
company

['alibaba', 'rys', 'tencent', 'pinduoduo']

In [10]:
company.pop()

'pinduoduo'

In [11]:
company

['alibaba', 'rys', 'tencent']

In [12]:
company[1] = 'rongyisuan'

In [13]:
company

['alibaba', 'rongyisuan', 'tencent']

In [14]:
name = ['zhangsan', 'lisi', ['wangwu','zhaoliu'],'liqi']
name

['zhangsan', 'lisi', ['wangwu', 'zhaoliu'], 'liqi']

In [15]:
name[2][1]

'zhaoliu'

In [16]:
len(name)

4

In [17]:
name = ('zhangsan', 'lisi', ['wangwu', 'zhaoliu'], 'liqi')
name

('zhangsan', 'lisi', ['wangwu', 'zhaoliu'], 'liqi')

In [18]:
name[2][0] = 'A'
name[2][1] = 'B'
name

('zhangsan', 'lisi', ['A', 'B'], 'liqi')

In [22]:
a = 3
if a == 1:
    print(a)
elif a == 2:
    print(2)
else: 
    print('haha')

haha

In [25]:
s = input('birth: ')
birth = int(s)
if birth >= 2000:
    print('00后')
else:
    print('00前')

birth:  2001

00后

In [29]:
height = float(input('身高/m: '))
weight = float(input('体重/kg: '))
BMI = weight/pow(height,2)
print('BMI:',BMI)
if BMI < 18.5:
    print('过轻')
elif BMI < 25 and BMI >= 18.5:
    print('正常')
elif BMI < 28 and BMI >= 25:
    print('过重')
elif BMI < 32 and BMI >= 28:
    print('肥胖')
else :
    print('严重肥胖')

身高/m:  1.75
体重/kg:  80

BMI: 26.122448979591837
过重

In [34]:
for i in name:
    print(i)

zhangsan
lisi
['A', 'B']
liqi

In [35]:
sum = 0
for num in [1,2,3,4,5,6,7,8,9]:
    sum += num
    print(sum)

1
3
6
10
15
21
28
36
45

In [36]:
sum = 0
for num in range(10):
    sum += num
    print(sum)

0
1
3
6
10
15
21
28
36
45

In [ ]:
sum = 0
for num in range(101):
    sum += num
print(sum)

In [5]:
sum = 0
num = 1
while num < 100:
    sum += num
    num += 2
    if num == 77: 
        break
print(sum)

1444

In [9]:
num = 0
while num < 10:
    num += 1
    if num % 2 ==0: 
        continue
    print(num)

1
3
5
7
9

# dict

In [3]:
score = {'zhangsan':98,'lisi':78,'wangwu':89}
score

{'zhangsan': 98, 'lisi': 78, 'wangwu': 89}

In [11]:
score['zhangsan']

98

In [12]:
'lisi' in score

True

In [14]:
score.get('zhaoliu','不存在')

'不存在'

In [6]:
score['zhaoliu'] = 99
score

{'zhangsan': 98, 'lisi': 78, 'wangwu': 89, 'zhaoliu': 99}

In [7]:
score.pop('zhaoliu')
score

{'zhangsan': 98, 'lisi': 78, 'wangwu': 89}

## set

In [9]:
s = set([1, 2, 3])
s

{1, 2, 3}

In [10]:
s = set([1, 1, 2, 3, 4, 4, 5])
s

{1, 2, 3, 4, 5}

In [11]:
s.add(6)
s

{1, 2, 3, 4, 5, 6}

In [12]:
s.add(5)
s

{1, 2, 3, 4, 5, 6}

In [13]:
s.remove(6)
s

{1, 2, 3, 4, 5}

In [14]:
s1 = set([1, 2, 3])
s2 = set([1, 3, 4])
s1 & s2 #与

{1, 3}

In [15]:
s1 | s2 #或

{1, 2, 3, 4}

In [19]:
s1 ^ s2 #异或

{2, 4}

In [22]:
2 << 2

8

In [24]:
8 >> 2

2

In [26]:
d = {'zhangsan':98, 'zhangsan':99}
d

{'zhangsan': 99}

## 不可变对象

In [30]:
a = ['c', 'b', 'a']
a.sort()
a

['a', 'b', 'c']

In [32]:
a = 'abc'
a.replace('a', 'A') #replace作用在'abc'上,创建了新的对象'Abc'

'Abc'

In [33]:
a #a是变量, 'abc'才是字符串对象,a本身是一个变量,a指向的对象内容是'abc'

'abc'

# 调用函数

In [34]:
help(abs)

Help on built-in function abs in module builtins:

abs(x, /)
    Return the absolute value of the argument.

In [35]:
abs(100)

100

In [36]:
abs(-100)

100

In [37]:
max(1, 2, 3)

3

In [39]:
min(1, 2, -3)

-3

In [40]:
int('123')

123

In [41]:
int(12.34)

12

In [42]:
a = abs #变量a指向abs函数
a(-1) #通过a调用abs函数

1

In [43]:
help(hex)

Help on built-in function hex in module builtins:

hex(number, /)
    Return the hexadecimal representation of an integer.

    >>> hex(12648430)
    '0xc0ffee'

In [55]:
print("输入整数: ")
print("转换后: %s" %hex(int(input())))

输入整数:

 1000

转换后: 0x3e8

## 定义函数

In [65]:
def my_abs(x):
    if not isinstance(x, (int, float)):
        raise TypeError('Operand type is not int or float')
    if x >= 0:
        return x
    else:
        return -x

In [57]:
my_abs(-100)

100

In [58]:
def nop():
    pass #占位符,没有想好程序怎么写,先让程序跑起来

In [59]:
nop()

In [66]:
my_abs('a')

TypeError: Operand type is not int or float

## 返回多个值

In [69]:
import math

def move(x, y, step, angle=0):
    nx = x + step * math.cos(angle)
    ny = y - step * math.sin(angle)
    return nx, ny

In [70]:
move(100, 100, 60, math.pi / 6)

(151.96152422706632, 70.0)

In [96]:
def power(x):
    return x * x

In [100]:
import math
def quadratic(a, b, c):
    if not isinstance(a, (int, float)) or not isinstance(b, (int, float)) or not isinstance(c, (int, float)):
        raise TypeError('Operand type is not int or float')
    if a == 0:
        return -c / b
    delta = power(b) - 4 * a * c
    if delta < 0:
        raise TypeError('参数错误,不满足:b^2 > 4ac')
    x1 = (-b + math.sqrt(delta))/2/a
    x2 = (-b - math.sqrt(delta))/2/a
    return x1, x2

In [101]:
print("请输入a, b, c")
a, b, c = int(input()), int(input()), int(input())
print("a =",a,"b =",b,"c =",c)
print("解分别是:")
print("x1 =",quadratic(a, b, c)[0],
      "x2 =",quadratic(a, b, c)[1])

请输入a, b, c

 1
 3
 2

a = 1 b = 3 c = 2
解分别是:
x1 = -1.0 x2 = -2.0

In [102]:
print('quadratic(2, 3, 1) =', quadratic(2, 3, 1))
print('quadratic(1, 3, -4) =', quadratic(1, 3, -4))

if quadratic(2, 3, 1) != (-0.5, -1.0):
    print('测试失败')
elif quadratic(1, 3, -4) != (1.0, -4.0):
    print('测试失败')
else:
    print('测试成功')

quadratic(2, 3, 1) = (-0.5, -1.0)
quadratic(1, 3, -4) = (1.0, -4.0)
测试成功

In [103]:
power(15)

225

## 默认参数

In [109]:
def power(x, n= 2): #默认参数必须指向不变对象！
    s = 1
    while n > 0:
        n -= 1
        s *= x
    return s

In [110]:
power(15, 3)

3375

In [111]:
power(5, 3)

125

In [112]:
power(5)

25

## 可变参数

In [113]:
def calc(*number):
    sum = 0
    for n in number:
        sum = sum + n * n
    return sum

In [114]:
calc(1, 2, 3)

14

In [115]:
calc(1)

1

In [116]:
calc(1, 2)

5

In [117]:
calc()

0

In [118]:
nums = [1, 2, 3]
calc(*nums)

14

## 关键字参数

In [119]:
def person(name, age, **kw):
    print('name:', name, 'age:', age, 'other:', kw)

In [120]:
person('zhangsan',19)

name: zhangsan age: 19 other: {}

In [121]:
person('lisi',18,city='hangzhou')

name: lisi age: 18 other: {'city': 'hangzhou'}

In [122]:
person('wangwu', 19, city='hangzhou',gender='M')

name: wangwu age: 19 other: {'city': 'hangzhou', 'gender': 'M'}

In [123]:
extra = {'city': 'Beijing', 'job': 'Engineer'}
person('zhaoliu',20,**extra)

name: zhaoliu age: 20 other: {'city': 'Beijing', 'job': 'Engineer'}

## 命名关键字参数

In [124]:
def person(name, age, **kw):
    if 'city' in kw:
        pass
    if 'job' in kw:
        pass
    print('name:', name, 'age:', age,'other:', kw)

In [125]:
person('liqi',29,city='hangzhou')

name: liqi age: 29 other: {'city': 'hangzhou'}

In [126]:
person('liqi',29)

name: liqi age: 29 other: {}

In [129]:
def person(name, age, *, city, job):
    print(name, age, city, job)

In [134]:
person('jack',25,home='hangzhou',job='engineer')

TypeError: person() got an unexpected keyword argument 'home'

In [130]:
person('jack',25,city='hangzhou',job='engineer')

jack 25 hangzhou engineer

In [135]:
def person(name, age, *args, city, job):
    print(name, age, args, city, job)

In [144]:
person('jack',25,'56kg',city='hangzhou',job='engineer')

jack 25 ('56kg',) hangzhou engineer

## 参数组合

In [145]:
def f1(a, b, c=0, *args, **kw):
    print('a =', a, 'b =', b, 'c =', c,
          'args =', args, 'kw =', kw)
def f2(a, b, c=0, *, d, **kw):
    print('a =', a, 'b =', b, 'c =', c,
          'd =', d, 'kw =', kw)

In [146]:
f1(1, 2)

a = 1 b = 2 c = 0 args = () kw = {}

In [147]:
f1(1, 2, c=3)

a = 1 b = 2 c = 3 args = () kw = {}

In [149]:
f1(1, 2, 3, 'a', 'b')

a = 1 b = 2 c = 3 args = ('a', 'b') kw = {}

In [150]:
f1(1, 2, 3, 'a', 'b', x=99)

a = 1 b = 2 c = 3 args = ('a', 'b') kw = {'x': 99}

In [151]:
f2(1, 2, d=99,ext=None)

a = 1 b = 2 c = 0 d = 99 kw = {'ext': None}

In [153]:
args = (1, 2, 3, 4)
kw = {'d':99, 'x':"#"}
f1(*args, **kw)

a = 1 b = 2 c = 3 args = (4,) kw = {'d': 99, 'x': '#'}

In [155]:
args = (1, 2, 3)
kw = {'d':88, 'x':'#'}
f2(*args, **kw)

a = 1 b = 2 c = 3 d = 88 kw = {'x': '#'}

In [166]:
def product(x,*y):
    num = x
    for n in y:
        num = num * n
    return num

In [167]:
print('product(5) =', product(5))
print('product(5, 6) =', product(5, 6))
print('product(5, 6, 7) =', product(5, 6, 7))
print('product(5, 6, 7, 9) =', product(5, 6, 7, 9))
if product(5) != 5:
    print('测试失败!')
elif product(5, 6) != 30:
    print('测试失败!')
elif product(5, 6, 7) != 210:
    print('测试失败!')
elif product(5, 6, 7, 9) != 1890:
    print('测试失败!')
else:
    try:
        product()
        print('测试失败!')
    except TypeError:
        print('测试成功!')

product(5) = 5
product(5, 6) = 30
product(5, 6, 7) = 210
product(5, 6, 7, 9) = 1890
测试成功!

# 递归函数

In [168]:
def fact(n):
    if n == 1:
        return 1
    return fact(n-1) * n

In [169]:
fact(1)

1

In [170]:
fact(5)

120

In [171]:
fact(100)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [174]:
def fact(n):
    return fact_iter(n, 1)

def fact_iter(num, product):
    if num == 1:
        return product
    return fact_iter(num-1, num * product)#尾递归,在函数返回的时候,调用自身本身,并且,return语句不包含表达式

In [175]:
fact_iter(5, 1)

120

In [176]:
fact_iter(100, 1)

93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000

In [177]:
def move(n, a, b, c):
    if n == 1:
        print(a, '-->', c)
    else:
        move(n-1, a, c, b)
        move(1, a, b, c)
        move(n-1, b, a, c)

In [180]:
move(3, 'A', 'B', 'C')

A --> C
A --> B
C --> B
A --> C
B --> A
B --> C
A --> C

In [184]:
move(2, 'A', 'B', 'C')

A --> B
A --> C
B --> C

In [185]:
L = ['Michael','Sarah','Tracy','Bob','Jack']

In [186]:
L[0:3]

['Michael', 'Sarah', 'Tracy']

In [188]:
L[1:2]

['Sarah']

In [189]:
L[0:-2]

['Michael', 'Sarah', 'Tracy']

In [196]:
L = list(range(100))

In [197]:
L[:10]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [198]:
L[10:20]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [199]:
L[-10:]

[90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [200]:
L[:10:2]

[0, 2, 4, 6, 8]

In [201]:
L[::5]

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [203]:
L[:5]

[0, 1, 2, 3, 4]

In [204]:
(0, 1, 2, 3, 4, 5)[1:3]

(1, 2)

In [205]:
'ABCDEFG'[:3]

'ABC'

In [206]:
'ABCDEFG'[::2]

'ACEG'

In [28]:
def trim(s):
    while s[:1] == ' ':
        s = trim(s[1:])
    while s[-1:] == ' ':
        s = trim(s[:-1])
    return s

In [22]:
trim(' ABC ')

'ABC'

In [12]:
trim(' ABC')

'ABC'

In [13]:
trim('ABC ')

'ABC'

In [29]:
# 测试:
if trim('hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello') != 'hello':
    print('测试失败!')
elif trim('  hello  ') != 'hello':
    print('测试失败!')
elif trim('  hello  world  ') != 'hello  world':
    print('测试失败!')
elif trim('') != '':
    print('测试失败!')
elif trim('    ') != '':
    print('测试失败!')
else:
    print('测试成功!')

测试成功!

In [2]:
d = {'a':1, 'b':2, 'c':3}
for key in d:
    print(key)

1
2
3

In [5]:
d = {'a':1, 'b':2, 'c':3}
for key in d.values():
    print(key)

1
2
3

In [6]:
d = {'a':1, 'b':2, 'c':3}
for k, v in d.items():
    print(k,v)

a 1
b 2
c 3

In [7]:
from collections import Iterable

/Users/taoxuefeng/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  """Entry point for launching an IPython kernel.

In [8]:
isinstance('abc', Iterable)

True

In [9]:
isinstance([1, 2, 3], Iterable)

True

In [10]:
isinstance(123, Iterable)

False

In [11]:
for i, value in enumerate(['A', 'B', 'C']):
    print(i, value)

0 A
1 B
2 C

In [12]:
for x, y in [(1,1), (2,2), (3,3)]:
    print(x, y)

1 1
2 2
3 3

In [26]:
def findMinAndMax(L):
    if len(L) > 0:
        min = max = L[0]
        for i in L:
            if i > max:
                max = i
            if i < min:
                min = i
        return(min, max)
    else:
        return (None, None)

In [27]:
# 测试
if findMinAndMax([]) != (None, None):
    print('测试失败!')
elif findMinAndMax([7]) != (7, 7):
    print('测试失败!')
elif findMinAndMax([7, 1]) != (1, 7):
    print('测试失败!')
elif findMinAndMax([7, 1, 3, 9, 5]) != (1, 9):
    print('测试失败!')
else:
    print('测试成功!')

测试成功!

In [29]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [31]:
L = []
for i in range(1, 11):
    L.append(i * i)
L

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [32]:
[x * x for x in range(1, 11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
[x * x for x in range(1, 11) if x % 2 == 0]

[4, 16, 36, 64, 100]

In [34]:
[m + n for m in 'ABC' for n in '!@#']

['A!', 'A@', 'A#', 'B!', 'B@', 'B#', 'C!', 'C@', 'C#']

In [35]:
import os
[d for d in os.listdir('.')]

['README.md', 'python_01.ipynb', '.ipynb_checkpoints', '.git']

In [36]:
d = {'x': 'A', 'y': 'B', 'z': 'C' }
for k, v in d.items():
    print(k, '=', v)

x = A
y = B
z = C

In [38]:
[k + '=' + v for k, v in d.items()]

['x=A', 'y=B', 'z=C']

In [39]:
L = ['Hello', 'World', 'IBM', 'Apple']
[s.lower() for s in L]

['hello', 'world', 'ibm', 'apple']

In [40]:
[x if x % 2 == 0 else -x for x in range(1, 11)]

[-1, 2, -3, 4, -5, 6, -7, 8, -9, 10]

In [48]:
L1 = ['Hello', 'World', 18, 'Apple', None]
L2 = [word.lower() for word in L1 if isinstance(word, str) == True]

In [49]:
# 测试:
print(L2)
if L2 == ['hello', 'world', 'apple']:
    print('测试通过!')
else:
    print('测试失败!')

['hello', 'world', 'apple']
测试通过!

## 生成器

In [50]:
L = [x * x for x in range(1, 11)]
L

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [51]:
g = (x * x for x in range(1, 11))
g

In [52]:
next(g)

1

In [53]:
next(g)

4

In [54]:
for n in g:  #generator生成器也是可以迭代的对象
    print(n)

9
16
25
36
49
64
81
100

In [65]:
def fib(max):
    n, a, b = 0, 0, 1
    while n < max:
        print(b)
        a, b = b, a+b
        n += 1
    return 'done'

In [66]:
fib(6)

1
1
2
3
5
8

'done'

In [67]:
def fib(max):
    n, a, b = 0, 0, 1
    while n < max:
        yield(b)
        a, b = b, a+b
        n += 1
    return 'done'

In [68]:
fib(6)

In [69]:
def odd():
    print('step1')
    yield 1
    print('step2')
    yield 2
    print('step3')
    yield 3

In [70]:
o = odd()

In [71]:
next(o)

step1

1

In [72]:
next(o)

step2

2

In [73]:
next(o)

step3

3

In [74]:
next(o)

StopIteration:

In [75]:
for n in fib(6):
    print(n)

1
1
2
3
5
8

In [77]:
g = fib(6)
while True:
    try:
        x = next(g)
        print(x)
    except StopIteration as e:
        print('Generator return value:', e.value)
        break

1
1
2
3
5
8
Generator return value: done

## 杨辉三角